/* CONTACTO DATOS */

.contactoDatos {
    border: 3px black solid;
    text-align: $space-center;
    background-color: $color-main;

    h1 {
        font-size: $text-4;
        margin: 0;
    }

    h2 {
        font-size: $text-3;
        margin: 0;
    }
}


/* CONTACTO FORMULARIO */

.contactoFormulario {

    h1 {
        font-size: $text-5;
    }

    label {
        font-size: $text-4;
    }
}


/* CONTACTO MAPA */

.contactoMapa {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}