/* CONTACTO TITULO */

.contactoTitulo {

    h1 {
        @include title-h1
    }
}


/* CONTACTO DATOS */

.contactoDatos {
    @include textBox ('c');

    h2 {
        @include textBoxMar ('4');
    }

    h3 {
        @include textBoxMar ('3');
    }
}


/* CONTACTO FORMULARIO */

.contactoFormulario {

    h2 {
        font-size: $text-5;
    }

    label {
        font-size: $text-4;
    }
}


/* CONTACTO MAPA */

.contactoMapa {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}