/* INDEX TITULO */

.indexTitulo {

    h1 {
        @include title-h1
    }
}


/* INDEX TEXTO */

.indexTexto {
    @include textBox ('l');
    
    p {
        @include textBoxMar ('2.5');
    }

    h2 {
        @include textBoxMar ('3');
        text-decoration: underline;
    }
}


/* INDEX DATOS */

.indexDatos {
    @include textBox ('c');

    h2 {
        font-size: $text-4;
    }

    h3 {
        font-size: $text-3;
    }
}

.container-fluid div:nth-child(2) {
    align-self: $space-center;
}


/* INDEX SERVICIOS */

.indexServicios {
    h2 {
        @include textBoxFont ('c', '5');
        margin: 1px;
    }

    div {
        @include textBox ('c');
        @include flex (center);
        gap: 50px;
        padding: 30px;

        article {

            h3 {
                @include textBoxMar ('4');
            }
        }
    }
}


/* INDEX SITIOS */

.indexSitios {
    

    h2 {
        @include textBoxFont ('c', '5');
        margin: 1px;
    }

    div {
        @extend .box-gral;
        @include flex (space-around);
        padding: 20px 10px;
        gap: 5px;

    }
}

