/* INDEX BIENVENIDA */

.indexBienvenida {
    text-align: left;
    border: 3px black solid;
    background-color: $color-main;
    /* padding: 0 10px; */
    /* grid-area: 1 / 1 / 2 / 2; */

    h1 {
        font-size: $text-3;
        text-decoration: underline;
        margin: 0;
        margin: $margin-10;
    }

    p {
        font-size: 2.8rem;
        margin: $margin-10;
    }

    h2 {
        font-size: $text-3;
        text-decoration: underline;
        margin: 0;
        margin: $margin-10;
    }
}


/* INDEX DATOS */

.indexDatos {
    border: solid black 3px;
    text-align: $space-center;
    background-color: $color-main;

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: $text-3;
    }
}

.container-fluid div:nth-child(2) {
    align-self: $space-center;
}


/* INDEX SERVICIOS */

.indexServicios {
    h2 {
        text-align: $space-center;
        font-size: $text-5;
        margin: 1px;
    }

    div {
        border: 3px black solid;
        display: flex;
        flex-wrap: wrap;
        text-align: $space-center;
        justify-content: $space-center;
        gap: 50px;
        background-color: $color-main;
        padding: 30px;
        /* width: 100%; */

        article {

            h3 {
                margin: $margin-10;
                font-size: $text-4;
            }
        }
    }
}


/* INDEX SITIOS */

.indexSitios {
    text-align: $space-center;

    h2 {
        font-size: $text-5;
        margin: 1px;
    }

    div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border: 3px black solid;
        background-color: $color-main;
        padding: 20px 10px;
        /* gap: 12px; */
    }
}

