#navBar {
    background-color: $color-main;
    @media screen and (max-width:991px) {
        background-color: rgba(173, 216, 230, 0.8);
    }

    a {
        font-size: $text-3;
        color: black;
        border: 1px solid black;
        padding: 10px;
        border-radius: 10px;
    }

    li {

        ul {
            background-color: $color-main;
        }
    }

}

/* animación version principal */

#navBar li :hover{
    animation: menu-animacion 0.3s ease-out forwards;
}


/* animación version secundaria */
// #navBar {

//     li {
        
//         &:hover {
//             animation: menu-animacion 0.3s ease-out forwards;
//         }
//     }
// }



/* animación botones navbar */

@keyframes menu-animacion{
    0%{}
    100%{border-radius: 15px;
        background-color: white;
        padding: 6px;
    }
}

/* tamaño del botón hamburguesa */

.navbar-toggler-icon {
    width: 85px;
    height: 80px;
}



/* imagen del header */

.contactoImagen{
    width: 100%;
}