/* NOSOTROS TITULO */

.nosotrosTitulo {

    div {

        h1 {
            @include title-h1
        }
    }
}


/* NOSOTROS TEXTO */

.nosotrosTexto {
    @include textBox ('l');
    width: 100%;
    margin-top: 2px;
    padding: 10px 20px;

    section {

        p {
            font-family: 'Montserrat', sans-serif;
            font-size: $text-3;
            line-height: 2.3rem;
        }

        h2 {
            font-family: 'Montserrat', sans-serif;
            text-decoration: underline;
            font-size: $text-4;
        }

        ul {

            li{
                font-size: $text-3;
            }
        }
    }
}


/* NOSOTROS PERFIL */

.nosotrosPerfil {
    background-color: $color-main;
    padding-bottom: $text-5;

    h2 {
        @include textBoxFont ('c', '5');
    }
}

.nosotrosCard {

    div {
        width: 40rem;

        img {
            width: 100%;
        }

        div {

            h5 {
                font-size: $text-4;
            }

            p {
                font-size: 2.5rem;
            }
        }

        ul {

            li {
                font-size: $text-3;
            }
        }

        div {

            a {
                font-size: $text-3;
            }
        }
    }
}
