.servicioTitulo {

    div {

        h1 {
            font-size: $text-6;
            text-align: $space-center;
            background-color: $color-main;
            border-radius: 20px;
        }
    }
}


.servicioNav {
    background-color: $color-main;

    li {

        a{
            font-size: $text-3;
        }
    }
}

.servicioTexto {
    text-align: $space-center;
    border: 3px black solid;
    background-color: $color-main;

    h1 {
        font-size: $text-3;
        text-decoration: underline;
        margin: 0;
        margin: $margin-10;
    }

    p {
        font-size: 2.8rem;
        margin: $margin-10;
    }

    h2 {
        font-size: $text-3;
        text-decoration: underline;
        margin: 0;
        margin: $margin-10;
    }
}

.servicioTramite {
    
    h2 {
        text-align: $space-center;
        font-size: $text-5;
        margin: 1px;
    }

    div {
        border: 3px black solid;
        display: flex;
        flex-wrap: wrap;
        text-align: $space-center;
        justify-content: $space-center;
        gap: 50px;
        background-color: $color-main;
        padding: 30px;
        /* width: 100%; */

        ul {
            list-style: circle;

            li {
                font-size: $text-3;
            }
        }
    }
}