/* SERVICIOS TITULO */

.servicioTitulo {

    div {

        h1 {
            @include title-h1
        }
    }
}



.servicioNav {
    background-color: $color-main;
    margin-top: 35px;

    li {

        a{
            font-size: $text-3;
        }
    }
}


/* SERVICIOS TEXTO */

.servicioTexto {
    @include textBox ('c');
    

    h1 {
        @include textBoxMar ('3');
        text-decoration: underline;
        
    }

    p {
        @include textBoxMar ('2.5');
    }

    h2 {
        @include textBoxMar ('3');
        text-decoration: underline;
    }
}


/* SERVICIOS TRAMITE */

.servicioTramite {
    
    h2 {
        @include textBoxFont ('c', '5');
        margin: 1px;
    }

    div {
        @include textBox ('c');
        @include flex (center);
        gap: 50px;
        padding: 30px;

        ul {
            list-style: circle;

            li {
                font-size: $text-3;
            }
        }
    }
}