/* SITIOS DE INTERES MAIN */

.sitiosMain {

    div {

        h1 {
            font-size: $text-6;
            text-align: $space-center;
            background-color: $color-main;
            border-radius: 20px;
        }
    }
}

.sitiosMainColumna {

    article {
        padding: 20px;
    }

    a {

        img {
            width: 100%;
        }
    }
}