/* SITIOS DE INTERES MAIN */

.sitiosMain {

    div {

        h1 {
            font-size: 6rem;
            text-align: center;
            background-color: rgba(195, 225, 235, 0.6);
            border-radius: 20px;
        }
    }
}

.sitiosMainColumna {

    article {
        padding: 20px;
    }

    a {

        img {
            width: 100%;
        }
    }
}