@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Mukta:wght@300&display=swap');


// variables de color

$color-main: rgba(195, 225, 235, 0.6);


// variables de texto

$text-3: 3rem;
$text-4: 4rem;
$text-5: 5rem;
$text-6: 6rem;


// variables de espaciado

$space-center: center;

$margin-10: 10px;


