*::before
*::after


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

a {
    text-decoration: none;  
}

ul {
    list-style: none;
}


/* elementos del body */
body{
    background-size: auto;
    /* background: linear-gradient(45deg, rgb(107, 106, 106), rgb(181, 173, 186),rgb(177, 138, 138)); */
    animation: bg-animate 3s ease-in-out infinite;
}

@keyframes bg-animate{
    0%{background: linear-gradient(45deg, rgb(107, 106, 106), rgb(181, 173, 186),rgb(177, 138, 138));}
    50%{background: linear-gradient(90deg, rgb(107, 106, 106), rgb(181, 173, 186),rgb(177, 138, 138));}
    100%{background: linear-gradient(135deg, rgb(107, 106, 106), rgb(181, 173, 186),rgb(177, 138, 138));}
}


/* elementos de header/nav */

header{
    background-color: rgba(173, 216, 230, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    position: sticky;
    top: 0;
}


.headerLogo {
    margin-top: 4px;
    margin-left: 10px;
}

/* .navigation {
}

.navigation ul{

}

.navigation li{

} */

.menu {
    display: flex;
    gap: 25px;
    margin-right: 25px;
}

/* .menuItem {

} */

.menuItemLink {
    font-size: 3rem;
    color: black;
    border: 1px solid black;
    padding: 1.5px;
}

.menu a:hover{
    animation: menu-animacion 0.3s ease-out forwards;
}

@keyframes menu-animacion{
    0%{}
    100%{border-radius: 15px;
        background-color: white;
        padding: 6px;
    }
}
/* .menuSub {

} */



/* elementos de footer */

footer{
    border: solid black 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    footer h2{
        font-size: 3.5rem;
        margin: 0;
    }


    footer ul{
        display: flex;
        gap: 15px;
        padding: 0;
    }

        footer ul li{
            list-style: none;
        }
            footer ul li a img:hover{
                filter: blur(1px);
                animation: icon-animate 0.2s ease-out forwards;
            }

@keyframes icon-animate{
    0%{transform: rotate(90deg);}
    25%{transform: rotate(180deg);}
    50%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
}

/* elemento de contactoMain grid */

.contactoMain {
    margin: 0 auto;
    /* height: 630px; */
    /* width: 1750px; */
    display: grid;
    grid-template-columns: 40% 10% 40%;
    grid-template-rows: 30% 70%;
    margin-bottom: 40px;
}

.contactoDatos {
    border: 5px black solid;
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}

.contactoDatos h1{
    font-size: 4rem;
    margin: 0;
}

.contactoDatos h2{
    font-size: 3rem;
    margin: 0;
}

.contactoFormulario {
    /* border: 5px black solid; */
    grid-area: 2 / 1 / 3 / 3;
    text-align: center;
}

.contactoFormulario h1 {
    font-size: 4rem;
}

.contactoFormulario label {
    margin: 0%;
    font-size: 4rem;
}

.contactoMapa{
    /* border: 5px black solid; */
    grid-area: 1 / 3 / 3 / 4;
    padding: 50px;
}


.contactoImagen{
    width: 100%;
}

/* .contactoBanner {

} */


/* elementos de index */

.indexMain {
    margin: 0 auto;
    /* height: 630px; */
    /* width: 1750px; */
    display: grid;
    grid-template-columns: 60% 10% 30%;
    grid-template-rows: 30% 60%;
    margin-bottom: 10px;

}



.indexBienvenida {
    text-align: left;
    /* width: 50%; */
    height: auto;
    border: 3px black solid;
    padding: 0 10px;
    background-color: rgba(195, 225, 235, 0.6);
    grid-area: 1 / 1 / 2 / 2;
}

.indexBienvenida h1{
    font-size: 3em;
    margin: 0;
}


.indexBienvenida p{
    font-size: 2.8rem;
    margin: 5px;
}

.indexBienvenida h2{
    font-size: 3rem;
    margin: 0;
}


.indexDatos {
    /* width: 30%; */
    border: solid black 2px;
    text-align: center;
    grid-area: 1 / 3 / 2 / 4;
    background-color: rgba(195, 225, 235, 0.6);
}

.indexDatos h2 {
    font-size: 3.5rem;
}

.indexDatos h3 {
    font-size: 3rem;
}



.indexSitios {
    /* border: 3px black solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    grid-area: 2 / 3 / 3 / 4;
    margin-top: 50px;
}

.indexSitios h2{
    font-size: 3rem;
    margin: 0;
}

.indexSitios div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 4px black solid;
    background-color: rgba(195, 225, 235, 0.6);
}

.indexServicios {
    /* border: 5px black solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
    margin-top: 50px;
}


.indexServicios div{
    border: 3px black solid;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    gap: 40px;
    background-color: rgba(195, 225, 235, 0.6);
}
.indexServicios h2{
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.indexServicios div article h3{
    margin: 10px;
}



/* media queries responsive*/

@media screen and (max-width:900px) {

    /* inicio media queries contacto */

    header{
        flex-direction: column;
        background-color: rgba(173, 216, 230, 0.3);
        position: sticky;
        top: auto;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }


    
    .contactoMain {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50%;
        grid-template-rows: 300px;
        margin-bottom: 120px;
    }



    .contactoDatos {
        border: 5px black solid;
        grid-area: 1 / 1 / 2 / 3;
        text-align: center;
        align-self: center;
    }

    .contactoDatos h1{
        font-size: 2.5rem;
        margin: auto;
    }

    .contactoDatos h2{
        font-size: 2rem;
        margin: auto;
    }



    .contactoFormulario {
        /* border: 5px black solid; */
        grid-area: 2 / 1 / 3 / 3;
        text-align: center;
        align-self: center;
    }

    .contactoMapa{
        /* border: 5px black solid; */
        grid-area: 3 / 1 / 4 / 2;
        margin-top: 80px;
        padding: 0;
    }

    /* fin media queries contacto */

    /* inicio media queries index */
    .indexMain {
        grid-template-columns: 100%;
        grid-template-rows: 400px 350px 500px 600px 600px;
    }

    .indexBienvenida {
        grid-area: 1 / 1 / 2 / 2;
    }

    .indexDatos {
        grid-area: 2 / 1 / 3 / 2;
    }

    .indexServicios {
        grid-area: 4 / 1 / 4 / 2;
    }

    .indexSitios {
        grid-area: 5 / 1 / 5 / 2;
    }

}



